<div class="container">
  <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
  <ul>
    <li> <%= task[:completed] ? "[x]" : "[ ]"  %>
      <%= link_to task[:title], task_path(task) %>
      <%= link_to "Delete", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
  <% end %>

  <hr/>

  <%= link_to "+ Add a new task", tasks_new_path %>
</div>
